#editReceipt-previewImage {
  display: flex;
  margin: 25px;
  justify-content: space-between;
}

#split-toggle {
  display: flex;
}
#split-toggle p {
  margin-top: 4.5px;
}

.toggle-selected {
  color: #c00303;
  font-weight: bold;
}
.toggle-not-selected {
  color: #aaaaaa;
}

.grid-header,
.grid-item {
  display: grid;
  grid-template-columns: 0.15fr 0.4fr 2fr 0.7fr 0.8fr;
  /* padding-left: 50px; */
  /* padding-right: 28%; */
  /* place-items: start; */
  align-items: center;
  padding-bottom: 5px;
}

.grid-labels {
  text-align: center;
  vertical-align: bottom;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
}

.grid-item-allocate,
.grid-header-allocate {
  display: grid;
  grid-template-columns: 0.15fr 0.4fr 2fr 0.7fr 0.8fr 1.5fr;
  /* padding-left: 50px; */
  /* padding-right: 2%; */
  /* min-width: fit-content; */
  /* place-items: start; */
}

.makeStyles-root-21 {
  margin: 20em auto 0 auto;
  width: 250px;
}

.friendlist-modal {
  margin-top: 20em;
  margin-left: 20em;
  width: 500x;
}
