#edit-receipt-parent {
  display: flex;
  flex-direction: column;
  border: solid black;
  margin: 5vw;
  height: 95%;
  width: 90vw;
}

#edit-receipt-top-panel {
  border: solid 2px red;
  /* background-color: #3f51b5; */
}

#editReceipt-previewImage {
  display: flex;
  border: solid 1px green;
  /* background-color: white; */
  margin: 25px;
  padding: 10px;
  justify-content: flex-end;
}

#edit-receipt-middle-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-item-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#item-div {
  width: 90%;
}

#input-div {
  display: flex;
  border: solid 1px orange;
  flex-wrap: wrap;
  margin: 25px;
  /* background-color: white; */
  /* padding: 10px; */
}

.grid-content-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

#allocate-friends {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: groove;
}
.receipt-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

#total {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: large;
  margin: 10px;
}

.tax-tip {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: groove;
  text-align: right;
  padding: 9px;
}

#edit-receipt-bottom-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 1px teal;
  padding: 2vh 5vw;
}

#friend-div {
  display: flex;
  flex-direction: column;
  border: solid 1px green;
  width: 500px;
}

.list-heading {
  color: white;
  background-color: rgb(73, 164, 248);
}

.item-header {
  display: table-header-group;
}

.paid {
  text-decoration: line-through;
  text-decoration-style: double;
  color: lightgray;
}

#manage-friends-add-button {
  border: solid 1px green;
}

.friends-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2vw;
}

.friends-container {
  margin: 5vw;
  display: flex;
  flex-wrap: wrap;
}

.friend-info {
  width: 90%;
  margin: 10%;
}

.friend-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: whitesmoke;
  border: outset 0.5rem #3f51fb;
  margin: 2vw;
  min-width: 20vw;
}

.border {
  border: solid 2px black;
}

#misc-form {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: solid 2px brown;
}

#split-toggle p {
  padding: 5px;
}

#successful-submit {
  padding: auto;
}

.userinfo-form {
  display: flex;
  flex-direction: column;
}

.MuiFormHelperText-root {
  color: black;
  font-size: 1rem;
}

.MuiFormLabel-root {
  font-size: 1.1rem;
}

.MuiAccordionDetails-root {
  flex-direction: column;
  /* margin-bottom: 5px; */
}

.MuiAccordion-rounded:last-child,
.MuiCollapse-entered {
  margin-bottom: 10px;
}

.edit-receipt-friend-buttons {
  margin: 10px;
}

.qty-input,
.PPI-input,
.totalprice-input,
.description-input {
  width: 100%;
  padding: 9px;
}

@media screen and (max-width: 550px) {
  .grid-item-allocate,
  .grid-header-allocate {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .qty-input,
  .PPI-input,
  .totalprice-input,
  .description-input {
    width: 100%;
    padding: 9px;
    margin: 2px;
  }
}

.qty-input,
.PPI-input,
.totalprice-input,
.description-input {
  width: 100%;
  padding: 9px;
}

.qty-input {
  text-align: center;
}

.PPI-input,
.totalprice-input {
  text-align: right;
}

.x-item {
  color: #dc3545;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  max-width: fit-content;
  max-height: max-content;
  /* border: none; */
  border-radius: 100%;
  /* background-color: white;
  border-color: white; */
}
.input-event-date-add {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.input-eventAndDate {
  display: flex;
  flex-direction: column;
}

#event-name {
  width: 250px;
}

#event-input {
  width: 250px;
}

#friend-management-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px orange;
}

#friends-selected-box {
  padding: 10px;
  border: solid 20px red;
}

#editReceipt-previewImage {
  display: flex;
  margin: 25px;
  justify-content: space-between;
}

#split-toggle {
  display: flex;
}
#split-toggle p {
  margin-top: 4.5px;
}

.toggle-selected {
  color: #c00303;
  font-weight: bold;
}
.toggle-not-selected {
  color: #aaaaaa;
}

.grid-header,
.grid-item {
  display: grid;
  grid-template-columns: 0.1fr 0.6fr 1.8fr 0.8fr 0.8fr;
  align-items: center;
  padding-bottom: 5px;
}

.grid-header {
  align-items: end;
}

.grid-labels {
  text-align: center;
  vertical-align: bottom;
}

.grid-item-allocate,
.grid-header-allocate {
  display: grid;
  grid-template-columns: 0.15fr 0.8fr 1.8fr 0.7fr 0.8fr 1fr;
}

@media screen and (max-width: 550px) {
  .grid-item-allocate,
  .grid-header-allocate {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .grid-item,
  .grid-header {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.makeStyles-root-21 {
  margin: 20em auto 0 auto;
  width: 250px;
}

#view-by-buttons {
  display: flex;
  justify-content: flex-end;
}

#manage-debts-accordion {
  margin: 5vw;
}

#debt-info-container {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
}

#debt-parent-wrapper {
  border: 9px solid #179be0;
  border-radius: 40px;
  background-color: ghostwhite;
  box-shadow: 4px 4px 12px 4px #000000;
  color: white;
  width: 90vw;
}

.debt-header {
  display: flex;
  height: 100px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bolder;
  border-radius: 20px 20px 0px 0px;
  padding: 0.5em 0.5em 0em 0.5em;
  background: rgb(23, 155, 224);
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
}

.indented {
  padding-left: 2rem;
}

.MuiAccordionSummary-content {
  display: flex;
  justify-content: space-between;
}

.total-labels {
  font-size: larger;
  color: #f50057;
}

.event-labels {
  font-size: larger;
  color: #179be0;
}
