.list-heading {
  color: white;
  background-color: rgb(73, 164, 248);
}

#misc-form {
  display: flex;
  flex-direction: column;
}

.item-header {
  display: table-header-group;
}

.paid {
  text-decoration: line-through;
  text-decoration-style: double;
}

.friends-wrapper {
  display: flex;
}

.friends-container {
  margin: 5vw;
}
