#edit-receipt-parent {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 5vw;
  height: 95%;
  width: 90vw;
  border: 9px solid #179be0;
  background-color: ghostwhite;
  box-shadow: 4px 4px 12px 4px #000000;
}

#edit-receipt-top-panel {
  /* border: solid 2px red; */
  /* background-color: #3f51b5; */
}

#editReceipt-header {
  display: flex;
  /* border: solid 1px green; */
  /* background-color: white; */
  padding: 0.6em 0 0 1.4em;
  border-bottom: 1px solid black;
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
  border-radius: 10px 10px 0px 0px;
}

#editReceipt-header p {
  font-size: 2em;
  font-weight: bolder;
  color: white;
}

#edit-receipt-middle-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-item-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#item-div {
  width: 90%;
}

#input-div {
  display: flex;
  /* border: solid 1px orange; */
  flex-wrap: wrap;
  /* margin: 25px; */
  /* background-color: white; */
  padding: 0.6em 0 0 1em;
}

#input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-content-delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

#allocate-friends {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: groove;
}
.receipt-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

#submit-receipt-button {
  width: auto;
  max-width: 95%;
  /* margin-bottom: .3em; */
  align-self: center;
}

#total {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: large;
  margin: 10px;
}

.tax-tip {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: groove;
  text-align: right;
  padding: 9px;
}

#edit-receipt-bottom-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: solid 1px black;
  /* padding: 2vh 5vw; */
  background: aliceblue;
  border-radius: 0px 0px 20px 20px;
}

#friend-div {
  display: flex;
  flex-direction: column;
  /* background-color: #daddff; */
  border-right: solid 1px black;
  width: 521px;
  padding: 1em 2.5em 0 2.5em;
  margin-right: 3em;
  flex-grow: 1.5;
}

.list-heading {
  color: white;
  background-color: rgb(73, 164, 248);
}

#manage-friends-add-container {
  height: 100px;
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  border-radius: 30px 30px 0px 0px;
  padding: 0.5em 0.5em 0em 0.5em;
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
}

.item-header {
  display: table-header-group;
}

.paid {
  text-decoration: line-through;
  color: lightgray;
}

.friends-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.friends-container {
  margin: 2vw 2vw 2vw 2vw;
  display: flex;
  flex-wrap: wrap;
}

.friend-info {
  width: 90%;
  margin: 10%;
}

.friend-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: whitesmoke;
  border: outset 0.5rem #3f51fb;
  margin: 2vw;
  min-width: 20vw;
}

#editreceipt-select-friends {
}

.border {
  border: solid 2px black;
}

#misc-form {
  display: flex;
  flex-direction: column;
  margin: 1em 7em 1em 5em;
  /* border: solid 2px brown; */
  background: #efefff;
  border: 1px solid;
  border-radius: 20px;
}

#split-toggle p {
  padding: 5px;
}

#successful-submit {
  margin: 25vh 0 0 40vw;
  padding: 10px;
  max-width: fit-content;
  border: 1px solid rgb(23, 155, 224);
  border-radius: 20px;
}

.userinfo-form {
  display: flex;
  flex-direction: column;
}

.MuiFormHelperText-root {
  color: black;
  font-size: 1rem;
}

.MuiFormLabel-root {
  font-size: 1.1rem;
}

.MuiAccordionDetails-root {
  flex-direction: column;
  /* margin-bottom: 5px; */
}

.MuiAccordion-rounded:last-child,
.MuiCollapse-entered {
  margin-bottom: 10px;
}

.edit-receipt-friend-buttons {
  margin: 0.5rem 0;
}

.qty-input,
.PPI-input,
.totalprice-input,
.description-input {
  width: 100%;
  padding: 9px;
}

@media screen and (max-width: 550px) {
  .grid-item-allocate,
  .grid-header-allocate {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .qty-input,
  .PPI-input,
  .totalprice-input,
  .description-input {
    width: 100%;
    padding: 9px;
    margin: 2px;
  }
}

.qty-input,
.PPI-input,
.totalprice-input,
.description-input {
  width: 100%;
  padding: 9px;
}

.qty-input {
  text-align: center;
}

.PPI-input,
.totalprice-input {
  text-align: right;
}

.x-item {
  color: #dc3545;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  max-width: fit-content;
  max-height: max-content;
  border-radius: 100%;
}

.input-event-date-add {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.input-eventAndDate {
  display: flex;
  flex-direction: column;
}

#edit-receipt-parent label,
.grid-item label,
.grid-item-allocate label,
.grid-labels {
  color: #179be0;
}

#event-name {
  width: 250px;
}

#event-input {
  width: 250px;
}

#friend-management-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: solid 2px orange; */
}

#friends-selected-box {
  padding: 20px 10px 20px 10px;
  border: inset 5px #179be0;
  border-radius: 30px;
  margin: 10px;
  background: linear-gradient(
    0deg,
    ghostwhite 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
  box-shadow: 1px 1px 1px 1px #000000;
}

#editReceipt-previewImage {
  display: flex;
  margin: 25px;
  justify-content: space-between;
}

#split-toggle {
  display: flex;
}
#split-toggle p {
  margin-top: 4.5px;
}

.toggle-selected {
  color: #c00303;
  font-weight: bold;
}
.toggle-not-selected {
  color: #aaaaaa;
}

.grid-header,
.grid-item {
  display: grid;
  grid-template-columns: 0.1fr 0.6fr 1.8fr 0.8fr 0.8fr;
  align-items: center;
  padding-bottom: 5px;
}

.grid-header {
  align-items: end;
}

.grid-labels {
  text-align: center;
  vertical-align: bottom;
}

.grid-item-allocate,
.grid-header-allocate {
  display: grid;
  grid-template-columns: 0.1fr 0.4fr 1.4fr 0.6fr 0.6fr 1fr;
}

.makeStyles-root-16 {
  margin: 30vh 0 0 30vw;
}

@media screen and (max-width: 550px) {
  .grid-item-allocate,
  .grid-header-allocate {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 550px) {
  .grid-item,
  .grid-header {
    display: grid;
    grid-template-columns: 1fr;
  }
  #input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 7px;
  }
  #friend-div {
    display: flex;
    flex-direction: column;
    /* background-color: #daddff; */
    border-right: none;
    width: 521px;
    margin: 0 0 10px 0;
    flex-grow: 1.5;
    justify-content: center;
  }
  #misc-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* border: solid 2px brown; */
    background: #efefff;
    border: 1px solid;
    border-radius: 20px;
  }
  #edit-receipt-parent {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 20px;
    margin: 5vw 2vw 1vw 2vw;
    height: 95%;
    width: 96vw;
  }
  #successful-submit {
    margin: 5vh auto 0 auto;
    padding: 10px;
    max-width: fit-content;
    border: 1px solid rgb(23, 155, 224);
    border-radius: 20px;
  }
  #editReceipt-add-friend-modal {
    margin-right: 45vw;
  }
}

.makeStyles-root-21 {
  margin: 20em auto 0 auto;
  width: 250px;
}

#view-by-buttons {
  display: flex;
  justify-content: flex-end;
}

#manage-debts-accordion {
  margin: 5vw;
}

#debt-info-container {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
}

#debt-parent-wrapper {
  border: 9px solid #179be0;
  border-radius: 40px;
  background-color: ghostwhite;
  box-shadow: 4px 4px 12px 4px #000000;
  color: white;
  width: 90vw;
}

.debt-header {
  display: flex;
  border-radius: 30px 30px 0px 0px;
  height: 100px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
  color: white;
}

.indented {
  padding-left: 2rem;
}

.MuiAccordionSummary-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.total-labels {
  font-size: 1.5rem;
  /* color: #f5005691; */
  color: #179be0;
}

.dollar-labels {
  font-size: 1.5rem;
  color: black;
}

.event-labels {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #179be0;
}

.inner-labels {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: black;
}

.listed-item {
  font-size: 1rem;
  /* font-weight: lighter; */
  color: black;
}

.receipt-history-button-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.1rem;
}

.gray-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 1.1rem;
}

.gray-text-small {
  color: rgba(0, 0, 0, 0.54);
}

#friend-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vw;
  flex-direction: column;
  font-size: 2em;
  font-weight: bolder;
  border-radius: 40px;
  border: 9px solid #179be0;
  background-color: ghostwhite;
  box-shadow: 4px 4px 12px 4px #000000;
}

.friend-header {
  margin-left: 4vw;
}

.delete-event-button-div {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
}

.delete-event-button {
  margin-left: 5px;
}

.not-selected,
.x-button-receipt-history {
  display: inline-block;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: #179be0;
  border-radius: 4px;
  background-color: white;
  transition: all 0.2s;
  border: 1px solid rgba(63, 81, 181, 0.5);
  font-size: 13.5px;
}

.x-button-receipt-history {
  border: none;
}

.bgImage {
  /* background-color:#c00303 */
  background-image: url('bg.jpeg');
  height: 500px;
}

.carousel-text {
  width: 50%;
  height: 100%;
}

.carousel-img {
  width: 50%;
  height: 100%;
}

.carousel {
  display: flex;
}

@media screen and (max-width: 550px) {
  .carousel-text {
    width: 100%;
    height: 100%;
  }

  .carousel-img {
    width: 0%;
    height: 0%;
    opacity: 0%;
  }
}

.links,
.links:hover {
  color: white;
  text-decoration: none;
}

#receipt-header-div {
  padding: 0.6em 0 0 0.5em;
  border-bottom: 1px solid black;
  font-size: 2em;
  font-weight: bolder;
  /* background: #80cbf3; */
  border-radius: 7px 10px 0px 0px;
  padding: 0.5em 0.5em 0em 0.5em;
  background: rgb(23, 155, 224);
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
}

#receipt-header-div p {
  color: white;
}

#friends {
  display: flex;
  flex-direction: row;
}

#receipthistory-div h1 {
  padding: 0.2em 0 0 0.2em;
}

#receipthistory-div {
  display: flex;
  flex-direction: column;

  margin: 3em 10em 0 10em;
  height: 95%;
  width: 80vw;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: white;
  border-radius: 20px;
  border: 9px solid #179be0;
  background-color: ghostwhite;
  box-shadow: 4px 4px 12px 4px #000000;
  /* padding: 0.5em; */
}

#history-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#history-heading p {
  text-align: center;
  font-size: 1.5em;
  color: #179be0;
}

#receiptList-details-div {
  display: flex;
}

.single-history-button-div {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.single-history-button {
  flex-grow: 1;
  text-align: start;
}

.selected-receipt {
  display: inline-block;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: white;
  border-radius: 4px;
  background-color: #479be0;
  transition: all 0.2s;
  border: 0;
  font-size: 13.5px;
}

#receipt-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.5em;
  border-right: black solid 1px;
  min-width: fit-content;
  width: 20%;
}

#past-receipt ol {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#past-receipt {
  /* border: orange solid; */
  width: 77%;
  padding: 0.5em 10px 0.5em 14px;
}

.preview-image {
  align-self: center;
  height: 95%;
}
.preview-image-div {
  display: flex;
  flex-direction: column;
  height: 95%;
  margin: auto;
}

.preview-image-div button {
  align-self: center;
  margin: 10px 2.5em 0 0;
}

.ReactModal__Content--after-open {
  margin: 50px auto 0 auto;
  width: 50vw;
  height: 75%;
}

#delete-history-modal {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.delete-history-div h4 {
  text-align: center;
}

/* .delete-history-div div {
  display: flex;
  justify-content: center;
} */

#right-bottom-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid 1px blueviolet; */
  padding: 0.5em 0 0.5em 0;
}

/* #total-div {
  border: solid 1px lightsalmon;
} */

#total-div p {
  margin: 0.3em 0 0 0;
}

#total-div span,
ol span {
  color: #179be0;
}

#receipt-button-div {
  align-self: flex-end;
  /* border: solid 1px lightblue; */
}

@media screen and (max-width: 550px) {
  #receipthistory-div {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin: 24px 5px 0px 5px;
    height: 100%;
    width: 97%;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background-color: white;
    border-radius: 20px;
  }
}

@media screen and (max-width: 550px) {
  #receipt-list {
    min-width: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border: 0;
  }
  #past-receipt {
    width: 100%;
  }
  #receiptList-details-div {
    display: flex;
    flex-direction: column;
  }
  #history-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #receipt-button-div {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
  }
  #delete-history-modal {
    position: absolute;
    inset: 40px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    padding: 20px;
    height: fit-content;
    width: auto;
  }
  #receipt-history-preview-img {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: auto;
  }
  .preview-image {
    align-self: center;
    height: 100%;
    width: 100%;
  }
}

#scan-receipt-div {
  width: 50vw;
  margin: 3em auto 0 auto;
  border: 9px solid #179be0;
  border-radius: 20px;
  box-shadow: 4px 4px 12px 4px #000000;
  background: #179be0;
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
}

#scan-receipt-div h2,
#scan-receipt-div h6 {
  text-align: center;
}

#scan-receipt-div h2 {
  color: white;
}

#scan-receipt-header {
  border-radius: 7px 10px 0px 0px;
}

#invisible-input-div {
  display: none;
}

#drag-drop-div {
  width: 48vw;
  height: 60vh;
  margin: 0em auto 1em auto;
}

#drop-image-div {
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  cursor: pointer;
}

#image-preview {
  width: 25vw;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
}

#drop-image {
  width: 100%;
}

#submit-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5em;
  align-items: center;
}
#submit-div div {
  width: auto;
  height: auto;
}

#scan-submit-button {
  border: 1px solid rgba(63, 81, 181, 0.5);
  color: #3f51b5;
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  background-color: #fff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 6px 16px;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  transition-property: background-color, box-shadow, border;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms, 0ms, 0ms;
}
#scan-submit-button:hover {
  border: 1px solid #3f51b5;
  background-color: rgba(63, 81, 181, 0.04);
}

/* #scan-submit-button:active {
} */

@media screen and (max-width: 550px) {
  #scan-receipt-div {
    width: 95%;
    margin: 10px 10px 0 10px;
    border: 3px solid #179be0;
    border-radius: 20px;
  }
  #drag-drop-div {
    width: 95%;
    height: 60vh;
    margin: 0em auto 1em auto;
    border: black solid 1px;
  }
  #image-preview {
    width: 67vw;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  #drop-image {
    width: 100%;
    max-width: 700px;
    height: 50%;
  }
}

#userinfo-id {
  width: 50%;
  border: 1px black solid;
  /* padding: 25px; */
  margin: 2.5rem auto;
  border-radius: 20px;
  border: 9px solid #179be0;
  background-color: ghostwhite;
  box-shadow: 4px 4px 12px 4px #000000;
}

#userinfo-div {
  padding: 0.6em 0 0 0.5em;
  border-bottom: 1px solid black;
  font-size: 2em;
  font-weight: bolder;
  /* background: #80cbf3; */
  border-radius: 7px 10px 0px 0px;
  padding: 0.5em 0.5em 0em 0.5em;
  background: rgb(23, 155, 224);
  background: linear-gradient(
    135deg,
    rgba(23, 155, 224, 1) 0%,
    rgba(255, 255, 255, 0.4962359943977591) 100%
  );
  color: white;
}

.MuiFormControl-fullWidth {
  width: 95%;
}

#userinfo-submit-button {
  align-self: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 550px) {
  #userinfo-id {
    width: 95%;
    border: 1px black solid;
    /* padding: 25px; */
    margin: 2.5em 0.5em;
    border-radius: 20px;
  }
}

@media screen and (min-width: 551px) {
  .add-friends-absolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 225px;
    height: 253px;
  }
}

@media screen and (max-width: 551px) {
  .absolute {
    top: 25%;
    position: fixed;
    width: 1vw;
    height: 1vh;
  }

  .select-friends-modal {
    position: relative;
    top: 25%;
    border-top: inset 5px ghostwhite;
    border-bottom: inset 5px #179be0;
    box-shadow: 1px 1px 1px 1px #000000;
  }
}

@media screen and (min-width: 551px) {
  .absolute {
    top: 25%;
    left: 50%;
    position: fixed;
    width: 1vw;
    height: 1vh;
  }

  .select-friends-modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: inset 5px #179be0;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #000000;
  }
}

.assign-friends {
  background-color: white;
}

@media screen and (max-width: 550px) {
  .add-friends-absolute {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 225px;
    height: 253px;
  }
}

.paid-up {
  color: lightgray;
}
